<main class="main">
  {% render 'page-header' %}
  {% render 'breadcrumb' %}
  <div class="page-content">
    <div class="categories-page">
      <div class="container">
        <div class="row">
          {% for collection in collections %}
            <div class="col-sm-6 {% if section.settings.grid_item_width == 'collections--compact' %} col-md-4 {% else %} col-md-6 {% endif %}">
              <div class="banner banner-cat banner-badge">
                {% if collection.featured_image %}
                  {{ collection.featured_image | image_url: width: 700 | image_tag: class: 'product-image' }}
                {% else %}
                  {{ 'product-5' | placeholder_svg_tag: 'placeholder-img' }}
                {% endif %}

                <a class="banner-link" href="{{ collection.url }}">
                  <h3 class="banner-title">{{ collection.title }}</h3>
                  <h4 class="banner-subtitle">{{ collection.products_count }} Products</h4>
                  <span class="banner-link-text">Shop Now</span>
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</main>

{% schema %}
{
  "name": "t:general.collections_grid",
  "settings": [
    {
      "type": "select",
      "id": "grid_item_width",
      "label": "t:labels.grid_item_width",
      "options": [
        { "value": "collections--compact", "label": "t:options.size.small" },
        { "value": "collections--full", "label": "t:options.size.large" }
      ],
      "default": "collections--full"
    },
  ],
}
{% endschema %}
